{% extends "./base.html" %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="containerButton">
            <button class="btn btn-outline-primary">
                <a href="{% url 'adminPanel' %}">Panel Administrador</a>
            </button>

            <button class="btn btn-outline-primary">
                <a href="{% url 'gestionComunidad' %}">Agregar Comunidad</a>
            </button>
        </div>

        <h3>Agregar Usuarios a la Comunidad</h3>
        <div class="card">
            <div class="card-body">
                <form action="/registrarUsuarios/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo"
                            maxlength="6" minlength="1" required>
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" id="txtCedula" name="txtCedula" class="form-control"
                            placeholder="Cedula de Identidad" maxlength="10" minlength="1" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombres" name="txtNombres" class="form-control" placeholder="Nombres"
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtApellidos" name="txtApellidos" class="form-control"
                            placeholder="Apellidos" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtDomicilio" name="txtDomicilio" class="form-control"
                            placeholder="Domicilio" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email"
                            maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" id="txtTelefono" name="txtTelefono" class="form-control"
                            placeholder="Telefono" maxlength="50" required>
                    </div>
                    <div>
                        <label for="rol">Escoja rol:</label>
                        <select name="rols" id="rols">
                            <option value="usuario">usuario</option>
                            <option value="tecnico">tecnico</option>
                        </select>
                    </div>
                    <div>
                        <label for="comunidad">Escoja comunidad:</label>
                        <select name="comunidades" id="comunidades">
                            <option value="codigo">Comunidad1</option>
                            <option value="Comunidad2">Comunidad2</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Usuarios</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Domicilio</th>
                        <th>Email</th>
                        <th>Fono</th>
                        <th>Rol</th>
                        <th>Comunidad</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in usuarios%}
                    <tr>
                        <td>{{c.codigo}}</td>
                        <td>{{c.cedula}}</td>
                        <td>{{c.nombres}}</td>
                        <td>{{c.apellidos}}</td>
                        <td>{{c.domicilio}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.rol}}</td>
                        <td>{{c.comunidad}}</td>
                        <td><a href="editarUsuario/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarUsuarios/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock%}