{% extends "./base.html" %}

{% block body %}

{% load static %}
<div class="containerHome">
    <img src="{% static 'img/airWaterLogo.png' %}" alt="logoAirWater" class="img-fluid" alt="Responsive image">
    <div class="containerText">
        <h3>AIR-WATER tiene como objetivo ofrecer una solución integral a la escasez hídrica, utilizando tecnología de
            punta y enfocándonos en la conciencia ambiental.
            ¿Cómo funciona? mediante Hidropaneles y microredes de hidropaneles, que funcionan de manera eficiente,
            extraen la humedad del aire y la convierten en agua limpia y segura para el consumo humano. De esta manera,
            no solo abordamos la falta de acceso al agua potable, sino que también promovemos una alternativa ecológica
            para enfrentar los desafíos ambientales.</h3>
    </div>
</div>
{% endblock %}